:host{
	position: relative;
	
	display: block;
	height: max-content;
	padding: 2px;
	background-color: black;
	z-index: 999;
}

ul{
	justify-content: center;
	display: flex;
	flex-direction: right;
	color: red;
	list-style: none;
	padding: 5px;
	font-weight: bold;
	font-size: 1.5em;

}

li{
	margin-left: 48px;
	
}
